[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git


[submodule "Ji"]
    path = Ji
    url = https://github.com/eddygarrat/Ji.git
